<%--
  Created by IntelliJ IDEA.
  User: kamesh
  Date: 21/10/15
  Time: 7:05 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="jarvis"/>
</head>

<body>
<div class="container">
    <h3>Process Started For Selected Commodities</h3>
    </div>
</body>
</html>